body {

    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    background-image: url('../IMAGES/background.jpg');
    background-size: cover;
    border: 3px solid black;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {

    text-decoration: underline;
    font-family: Arial, sans-serif;
    color: violet;
}

p {
    font-size: 18px;
    font-style: italic;
    color: rgb(74, 234, 52);
}

a {
    text-decoration: none;
    color: rgb(96, 229, 236);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: darkred;
}